body {
    background-image: url("images/background.jpg");
    color: white;
    text-align: left;
    
}

.cover-heading{
    margin-top: 40px;
    font-size: 80px;
}

#game-start{
    margin-top: 70px;
    font-size: 40px;
}

#countdown {
    font-size: 26px;
    color:red;
}

#game-done {
    font-size: 40px;
}

.lead2 {
    font-size: 30px;
    color: black;
}

.quest {
    font-size: 26px;
    color: white;
}

.text-mysize {
    font-size: 20px;